@font-face {
  font-family: "Lato";
  src: url("../resources/Lato/Lato-Light.ttf"); }

html, body {
  margin: 0; }

.returntohome {
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100; }

.returntohome-tasfinish {
  position: absolute;
  width: 200px;
  height: 200px;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }

/*** Home ***/
.content {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.hero {
  height: 30%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .hero img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.nav {
  width: 100%;
  height: 40%;
  position: relative; }
  .nav .pod {
    width: 50%;
    height: 50%;
    display: block;
    position: absolute;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    color: #FFF; }
    .nav .pod p {
      position: absolute;
      text-align: center;
      margin: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .nav .slides {
    top: 0%;
    left: 0%;
    background-color: #731266; }
  .nav .calc {
    top: 0%;
    left: 50%;
    background-color: #E55204; }
  .nav .office {
    top: 50%;
    left: 0%;
    background-color: #FD9F0A; }
  .nav .services {
    top: 50%;
    left: 50%;
    background-color: #00AFAA; }

.game {
  width: 100%;
  height: 30%;
  background-color: #E55204;
  position: relative; }
  .game svg {
    position: absolute;
    margin: 0;
    width: 480px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/*** TAS ***/
.ss {
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .ss__container {
    height: 1000px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .ss .slide {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; }
  .ss .slidephone {
    width: 320px;
    margin: 0 auto;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-backface-visibility: hidden; }
    .ss .slidephone img {
      width: 100%; }
  .ss .disappear {
    opacity: 0;
    visibility: none;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .ss .phoneani-off {
    opacity: 0;
    -webkit-transform: translateX(1000px) translateY(50px) scale(0.8);
    -ms-transform: translateX(1000px) translateY(50px) scale(0.8);
    transform: translateX(1000px) translateY(50px) scale(0.8); }
  .ss .phoneani-on {
    opacity: 1;
    -webkit-transform: translateX(0px) translateY(0px) scale(1);
    -ms-transform: translateX(0px) translateY(0px) scale(1);
    transform: translateX(0px) translateY(0px) scale(1);
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }
  .ss .phoneani-exit {
    opacity: 0;
    -webkit-transform: translateX(-1000px) translateY(50px) scale(0.8);
    -ms-transform: translateX(-1000px) translateY(50px) scale(0.8);
    transform: translateX(-1000px) translateY(50px) scale(0.8); }
  .ss .slidetext {
    margin-bottom: 150px;
    font-size: 56px;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-backface-visibility: hidden; }
  .ss .textani-off {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  .ss .textani-on {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }
  .ss__slide1__title {
    font-size: 56px;
    width: 100%;
    margin-top: 0; }
  .ss__slide1__text {
    font-size: 26px; }
  .ss__slide1 svg {
    -webkit-animation: shake-animation 5s ease infinite;
    animation: shake-animation 5s ease infinite; }

/*** Animations ***/
@-webkit-keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  1.78571% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  3.57143% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  5.35714% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  7.14286% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  8.92857% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  10.71429% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes shake-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  1.78571% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  3.57143% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  5.35714% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  7.14286% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  8.92857% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }
  10.71429% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
